/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

/* HEADER */
img {
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

/* MAIN */
.todos {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.todo {
    background-color: #efefef;
    padding: 10px 15px;
    border-bottom: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 5px;
}

.done {
    text-decoration: line-through;
}

.delete {
    float: right;
    color: #373737;
    cursor: pointer;
}

.input-text {
    text-align: center;
    margin-top: 30px;
}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid lightgray;
    min-width: 350px;
}

button {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid lightgray;
    color: #373737;
    margin-left: 10px;
    cursor: pointer;
}